<div class="question">
  <div class="vote-button">
    UPVOTE
  </div>

  <div class="vote-count">
    <%= question.vote_count %>
  </div>

  <div class="question-show">
    <div class="question-body">
      <%= question.body %>
    </div>

    <div class="question-author">
      Asked by <%= question.author %>
    </div>
  </div>
</div>