<h2>Ask</h2>
<%= form_for @question, remote: true, id: "new-question" do |f| %>
  <%= f.text_area :body %>
  <%= f.submit 'Ask', class: "new-question" %>
<% end %>

<h2>Questions</h2>
<div class="questions">
</div>

<script id="question-tpl" type="text/x-handlebars-template">
  <div class="question">
    <p>{{body}}</p>
    <div class="author">{{author}}</div>
  </div>
</script>