// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  margin: 20px;
  float: left;
}

.container {
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.question {
  border-bottom: #ccc 1px dotted;
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.vote {
  background: #0c0;
  border: none;
  color: white;
  padding: 7px;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  &:hover{
    background: #0b0;
  }
}

